# Byte-compiled / optimized / DLL files
__pycache__/
**__pycache__**
*.py[cod]
*$py.class
*env
# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a script PyInstaller
#  generates itself and so aren't committed unless you
#  intentionally add them.
#  See https://github.com/pyinstaller/pyinstaller/issues/2005
# *.spec


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; __pypackages__ directory
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath files
*.sage.py

# Environments
.env
.venv
venv/
env/
ENV/

# Streamlit
.streamlit/

# macOS
.DS_Store

# VSCode
.vscode/

# Local data and databases
chroma_db/
chroma_db_streamlit/
data/*.pdf # If you don't want to commit specific PDFs in data, otherwise remove this line or be more specific

# Temporary files
*.tmp
*.bak
*.swp
*~